<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modifyProfile.css}">
</head>
<body>
<div layout:fragment="content" style="padding-top: 90px;">
    <section class="hero-area pt-4 pb-4">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 mt-4 pt-4 pb-4">
                    <h3 class="mt-4 mb-4" th:text="#{modifyProfile.modifyProfilo}"></h3>
                </div>
                <form th:action="@{/modifica-profilo}" th:object="${profilo}" method="post">
                    <input th:type="hidden" th:field="*{id}" />
                    <input th:type="hidden" th:field="*{version}" />
                    <div class="main-wrap">
                        <div class="left-column">
                            <img class="new-avatar" id="frame" src="#">
                            <img th:if="${profilo.avatar}" th:src="${profilo.avatar}" alt="profile avatar" class="profile-avatar">
                            <img th:unless="${profilo.avatar}" th:src="'https://avatars.dicebear.com/api/male/'+${profilo.firstname}+'.svg'" alt="profile avatar" class="profile-avatar">
                            <label name="imgINput">
                                <input th:field="*{avatar}" name="imgINput" id="avatar" type="file" accept="image/*">
                            </label>
                        </div>
                        <div class="right-column">
                            <label name="firstname" th:inline="text">
                                [[#{modifyProfile.name}]]
                                <input th:field="*{firstname}" th:value="${profilo.firstname}" name="firstname" type="text" required/>
                            </label>
                            <label name="lastname" th:inline="text">
                                [[#{modifyProfile.surname}]]
                                <input th:field="*{lastname}" th:value="${profilo.lastname}" name="lastname" type="text" required/>
                            </label>
                            <label name="username">
                                Username
                                <input th:field="*{username}" th:value="${profilo.username}" name="username" type="text" required/>
                            </label>
                            <label name="email">
                                Email
                                <input th:field="*{email}" th:value="${profilo.email}" name="email" type="email" required/>
                            </label>
                            <div th:if="${profilo.role.toString().equals('UTENTE')}" class="preferred-genres">
                                <span style="align-self: flex-start; font-weight: 500;" th:text="#{modifyProfile.preferredGenres}"></span>
                                <div th:each="genre : ${generi}">
                                    <input th:field="*{preferredGenres}" th:value="${genre.id}" type="checkbox"/>
                                    <span th:text="${genre.name}"/>
                                </div>
                            </div>
                            <div th:if="${profilo.role.toString().equals('UTENTE')}" class="preferred-genres">
                                <span style="align-self: flex-start;font-weight: 500;" th:text="#{modifyProfile.preferredInstruments}"></span>
                                <div th:each="instrument : ${strumenti}">
                                    <input th:field="*{preferredInstruments}" th:value="${instrument.id}" type="checkbox"/>
                                    <span th:text="${instrument.name}"/>
                                </div>
                            </div>
                            <div class="button btn">
                                <button class="button btn" th:type="submit" th:text="#{modifyProfile.send}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
<script>
        document.getElementById('avatar').addEventListener('change', (e) => {
            let images = document.querySelector('.left-column').querySelectorAll('img')
            images.forEach((el,i) => {
                if(i === 0) {
                    el.style.display = 'block'
                    el.src = URL.createObjectURL(e.target.files[0]);
                } else {
                    el.style.display = 'none'
                }
            })
        })
</script>
</div>
</body>

</html>