<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br"
    layout:decorate="~{layout/layout}">
<head>
    <script src="https://prod.flat-cdn.com/embed-js/v1.1.0/embed.min.js"></script>
    <script type="text/javascript" th:src="@{/js/musicsheet.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/musicSheetCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/song.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
            var musicSheetData = /*[[${musicSheetData}]]*/ '';
            var musicSheetTitle = /*[[${musicSheet.title}]]*/'';        
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content" style="padding-top: 90px;">
   <!-- Start Hero Area -->
    <section class="hero-area pt-4 pb-4">
        <div class="container mt-4">
            <div class="d-flex pt-4 justify-content-between align-items-center">
                <div class="left-container d-flex flex-column align-items-start">
                    <h2 class="song-title" th:text="${musicSheet.title}"></h2>
                    <h4 class="song-author mt-4" th:text="${musicSheet.author}"></h4>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: user"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2">Caricato da:</span>
                        <p th:text="${musicSheet.user.firstname+' '+musicSheet.user.lastname}"></p>
                    </div>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: album"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2">Brano:</span>
                        <a th:href="${'/songs/'+musicSheet.song.id}">
                            <p th:text="${musicSheet.song.title+' - '+musicSheet.song.author}"></p>
                        </a>
                    </div>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: upload"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2">Data caricamento:</span>
                        <p th:text="${#temporals.format(musicSheet.createDateTime, 'dd/MM/yyyy')}"></p>
                    </div>
                    <div class="verified-badge mt-4 d-flex align-items-center" th:if="${musicSheet.verified}">
                        <svg th:replace="fragments/icons :: verifyBadge"></svg>
                        Verificato
                    </div>
                </div>

                <div class="right-container d-flex flex-column align-items-end">
                    <img th:if="${musicSheet.song.imageUrl != null}" th:src="${musicSheet.song.imageUrl}" alt="song image cover" class="song-image">
                    <img th:unless="${musicSheet.song.imageUrl != null}" th:src="@{/img/nocover.jpg}" alt="song image cover" class="song-image">
                </div>
                
            </div>

            <div class="row">
                <div class="col-12 mt-4 pt-4 pb-4">
                    <div class="editor-container p-4">
                        <h3 class="mt-4 mb-3">Strumenti</h3>
                        <div class="instruments-container mb-4">
                            <div class="instrument" th:each="key : ${musicSheetData.instrumentMapping.keySet()}" th:partId="${musicSheetData.instrumentMapping.get(key)}">
                                <svg th:replace="fragments/icons :: __${key.toLowerCase()}__"></svg>
                            </div>
                        </div>
                        <div id="embed" class="w-100"></div>
                        <h3 class="mt-4 mb-3">Scarica lo Spartito</h3>
                        <div class="d-flex flex-row align-items-center justify-content-between mb-4 pl-5 pr-5" style="gap:10px">
                            <div class="button wow fadeInUp submit mt-4" data-wow-delay=".7s" id="downloadXml"
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn">Scarica in MusicXML</a>
                            </div>

                            <div class="button wow fadeInUp submit mt-4" data-wow-delay=".7s" id="downloadPdf" 
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn">Stampa</a>
                            </div>

                            <div class="button wow fadeInUp mt-4" id="downloadPng" data-wow-delay=".7s" 
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn">Scarica in PNG</a>
                            </div>
                        </div>

                        <h3 class="mt-5 mb-2">Commenti</h3>
                        <div class="comments-container d-flex flex-column mt-4 mb-3 w-100 p-5">
                            <div class="comment d-flex align-items-center justify-content-start">
                                <div class="user-image">
                                    &nbsp;
                                </div>
                                <div class="d-flex flex-column align-items-start justify-content-start" style="flex:17;">
                                    <h6 class="user-name">Giuseppe Verdi</h6>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis quae dolores vitae, magnam exercitationem vel ipsum hic nostrum animi error ullam architecto aut debitis officia a recusandae nam quas?
                                    </p>
                                    <div class="d-flex align-items-center justify-content-start comment-actions" style="gap:10px">
                                        <a href="" class="respond-button">Rispondi</a>
                                        <a href="" class="showResponses-button">Mostra risposte(1)</a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment response d-flex align-items-center justify-content-start">
                                <div class="user-image">
                                    &nbsp;
                                </div>
                                <div class="d-flex flex-column align-items-start justify-content-start" style="flex:17;">
                                    <h6 class="user-name">Mario Rossi</h6>
                                    <p class="comment-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum, amet qui in repellendus exercitationem est iste? Laborum nihil libero voluptates nesciunt, ex aut in vel, quisquam eveniet incidunt quia?</p>
                                    <div class="d-flex align-items-center justify-content-start comment-actions" style="gap:10px">
                                        <a href="" class="respond-button">Rispondi</a>
                                        <a href="" class="showResponses-button">Mostra risposte(1)</a>
                                    </div>
                                </div>
                            </div>

                            <div class="write-comment">
                                <div class="user-image">
                                    &nbsp;
                                </div>
                                <input type="text" placeholder="Scrivi il tuo commento" style="flex:17;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
  
        </div>

    </section>

</div>
</body>

</html>