<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/layout}">
<head>
    <script src="https://prod.flat-cdn.com/embed-js/v1.1.0/embed.min.js"></script>
    <script type="text/javascript" th:src="@{/js/musicsheet.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/musicSheetCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/musicSheets.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/song.css}">
    <script type="text/javascript" th:src="@{/js/manage-verifySheets.js}" ></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var musicSheetData = /*[[${musicSheetData}]]*/ '';
            var musicSheetTitle = /*[[${musicSheet.title}]]*/'';  
            var loggedUser = /*[[${loggedUser}]]*/'';
            var isAuthor = /*[[${musicSheet.user == loggedUser}]]*/'';      ù
            var lang = /*[[${#locale.toString()}]]*/'';
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content" style="padding-top: 90px;">
   <!-- Start Hero Area -->
    <section class="hero-area pt-4 pb-4">
        <div class="container mt-4">
            <div class="d-flex pt-4 justify-content-between align-items-center">
                <div class="left-container d-flex flex-column align-items-start">
                    <h2 class="song-title" th:text="${musicSheet.title}"></h2>
                    <h4 class="song-author mt-4" th:text="${musicSheet.author}"></h4>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: user"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2" th:text="#{musicsheet.uploadedBy}"></span>
                        <p th:text="${musicSheet.user.firstname+' '+musicSheet.user.lastname}"></p>
                    </div>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: album"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2" th:inline="text">[[#{createupload.song}]]:</span>
                        <a th:href="${'/songs/'+musicSheet.song.id}">
                            <p th:text="${musicSheet.song.title+' - '+musicSheet.song.author}"></p>
                        </a>
                    </div>
                    <div class="d-flex align-items-center mt-4 song-info">
                        <div class="icon mr-2">
                            <svg th:replace="fragments/icons :: upload"></svg>
                            <i></i>
                        </div>
                        <span class="label mr-2" th:text="#{musicsheet.uploadedDate}"></span>
                        <p th:text="${#temporals.format(musicSheet.createDateTime, 'dd/MM/yyyy')}"></p>
                    </div>
                    <div th:class="'mt-4 d-flex align-items-center like '+${musicSheet.likes.contains(loggedUser) ? 'liked' : ''}" th:inline="text" style="gap: 5px;">
                        <div class="icon round mr-2">
                            <svg th:replace="fragments/icons :: like"></svg>
                            <i></i>
                        </div>
                        <span> [[${musicSheet.likes.size}]] </span>
                        [[#{common.likes}]]
                    </div>
                    <div class="verified-badge mt-4 d-flex align-items-center" th:if="${musicSheet.verified}" th:inline="text">
                        <svg th:replace="fragments/icons :: verifyBadge"></svg>
                        [[#{musicsheets.verified}]]
                    </div>
                    <div class="verify-btn verify-btn-detail-pg" sec:authorize="hasRole('AMMINISTRATORE')">
                        <div th:data-verify="${musicSheet.id}" th:if="${!musicSheet.verified}" class="action-container">
                            <span class="d-flex flex-row align-items-center justify-content-end" style="gap:20px">Verifica spartito</span>
                        </div>
                    </div>
                </div>

                <div class="right-container d-flex flex-column align-items-end">
                    <img th:if="${musicSheet.song.imageUrl != null}" th:src="${musicSheet.song.imageUrl}" alt="song image cover" class="song-image">
                    <img th:unless="${musicSheet.song.imageUrl != null}" th:src="@{/img/nocover.jpg}" alt="song image cover" class="song-image">
                </div>
                
            </div>

            <div class="row">
                <div class="col-12 mt-4 pt-4 pb-4">
                    <div class="editor-container p-4">
                        <h3 class="mt-4 mb-3" th:text="#{common.instruments}"></h3>
                        <div class="instruments-container mb-4">
                            <div class="instrument" th:each="key : ${musicSheetData.instrumentMapping.keySet()}" th:partId="${musicSheetData.instrumentMapping.get(key)}">
                                <svg th:replace="fragments/icons :: __${key.toLowerCase()}__"></svg>
                            </div>
                        </div>
                        <div id="embed" class="w-100"></div>
                        <h3 class="mt-4 mb-3" th:text="#{musicsheet.download}"></h3>
                        <div class="d-flex flex-row align-items-center justify-content-between mb-4 pl-5 pr-5" style="gap:10px">
                            <div class="button wow fadeInUp submit mt-4" data-wow-delay=".7s" id="downloadXml"
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn" th:text="#{musicsheet.download.musicxml}"></a>
                            </div>

                            <div class="button wow fadeInUp submit mt-4" data-wow-delay=".7s" id="downloadPdf" 
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn" th:text="#{musicsheet.print}"></a>
                            </div>

                            <div class="button wow fadeInUp mt-4" id="downloadPng" data-wow-delay=".7s" 
                                        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
                                <a class="btn" th:text="#{musicsheet.download.png}"></a>
                            </div>
                        </div>

                        <h3 class="mt-5 mb-2" th:text="#{common.comments}"></h3> 
                        <div class="comments-container d-flex flex-column mt-4 mb-3 w-100 p-5">

                            <div th:each="comment : ${comments}" th:commentId="${comment.id}" class="comment d-flex align-items-center justify-content-start">
                                <div class="user-image" th:if="${comment.user.avatar}" th:style="'background:url('+${comment.user.avatar}+');'">
                                    &nbsp;
                                </div>
                                <div class="user-image" th:unless="${comment.user.avatar}" th:style="'background:url(https://avatars.dicebear.com/api/male/'+${comment.user.firstname}+'.svg);'">
                                    &nbsp;
                                </div>
                                <div class="d-flex flex-column align-items-start justify-content-start" style="flex:17;">
                                    <h6 class="user-name" th:text="${comment.user.firstname+' '+comment.user.lastname}"></h6>
                                    <p class="comment-content" th:text="${comment.content}"></p>
                                    <div class="d-flex align-items-center justify-content-start comment-actions" style="gap:10px">
                                        <a href="" class="respond-button" th:text="#{common.reply}"></a>
                                        <a href="" class="showResponses-button" th:if="${comment.replies > 0}" th:inline="text">[[#{common.showReplies}]]([[${comment.replies}]])</a>
                                    </div>
                                </div>
                            </div>

                            <div class="write-comment">
                                <div class="user-image" th:if="${loggedUser.avatar}" th:style="'background:url('+${loggedUser.avatar}+');'">
                                    &nbsp;
                                </div>
                                <div class="user-image" th:unless="${loggedUser.avatar}" th:style="'background:url(https://avatars.dicebear.com/api/male/'+${loggedUser.firstname}+'.svg);'">
                                    &nbsp;
                                </div>
                                <input type="text" th:placeholder="#{common.writeComment}" style="flex:17;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
  
        </div>
    </section>
    <a href="" class="rearrangeButton btn-hover">
        <svg th:replace="fragments/icons :: modify"></svg>
    </a>

    <div sec:authorize="hasRole('AMMINISTRATORE')" id="confirm-verify-modal" class="modal-wrap">
        <span th:text="#{admin.manageSheets.confirm}"></span>
        <div id="verify">
            <button th:text="#{admin.manageSheets.confirmButton}" class="upUs btn btn-hover btn-block btn-dark btn-outline-light btn-close-white" type="submit"></button>
        </div>
    </div>

</div>
</body>

</html>