<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="userCard (user)" th:remove="tag">
    <div class="musicsheet-card fadeInUp mb-4">
        <div class="d-flex flex-row align-items-center justify-content-between mb-2">
            <h3 th:text="${user.firstname} + ' ' + ${user.lastname}"></h3>
            <div th:data-user="${user.id}" th:hidden></div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-column align-items-start justify-content-between">

            </div>
            <div class="d-flex flex-row align-items-center justify-content-end" style="gap:20px">
                <div class="icon">
                    <svg th:replace="fragments/icons :: drums"></svg>
                    <i></i>
                </div>
                <div class="icon">
                    <svg th:replace="fragments/icons :: guitar"></svg>
                    <i></i>
                </div>
                <div class="icon">
                    <svg th:replace="fragments/icons :: piano"></svg>
                    <i></i>
                </div>
                <div class="icon">
                    <svg th:replace="fragments/icons :: violin"></svg>
                    <i></i>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>