.flat-wrap {
    min-height:800px;
    padding: 50px 100px;
    display: flex;
    background: #f6f9fc;
}
.flat-inner-wrap {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:40px;
    box-shadow: 0px 1px 20px 0px rgb(50 50 50 / 10%);
    background: #ffffff;
    border-radius: 25px;
}
.sheet-info {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 15px;
    margin-top: 14px;
}

h2{
    margin-bottom: 30px;
}

.flat-part-left {
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flat-part-right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.create-btn {
    background: transparent;
    border-radius: 25px;
    border: 3px solid #0d6efd;
    padding: 5px 10px;
    align-self: center;
    margin-top: 50px;
}

.choose-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opt {
    min-width: 250px;
    border-radius: 25px;
}

.slct {
    text-align: center;
    background: transparent;
    border: 3px solid #0d6efd;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.instruments-for-sheet {
    display: none;
    padding-top: 30px;
}

.first-hidden {
    display: none;
}

.check {
    width: 25%;
}

.inner-wrp {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    flex-direction: column;
    padding-top: 30px;
}